.homepage {
  .top-rated {
    display: flex;
    flex-direction: column;

    @include tablet {
      display: inline-flex;
      flex-direction: row;
    }
    width: 100%;

    .room {
      display: flex;
      flex-direction: column;
      background-color: $purple;
      width: 100%;
      margin: 10px;
      cursor: pointer;
      padding: 20px;

      @include tablet {
        width: 25%;
        height: 400px;
      }

      span {
        display: block;
        width: 100%;
        color: white;
        font-size: 2em;

        &.description {
          align-self: flex-start;
          flex-grow: 1;
          line-height: 1;
          font-weight: 700;
        }

        &.averageRating {
          align-self: flex-end;

          small {
            font-size: 0.5em;
          }
        }
      }
    }
  }
}
