.set-restroom-gender {
  > div {
    padding: 10px;
    margin: 1px;
    color: black;
    cursor: pointer;

    &.active {
      border: 1px solid black;
      margin: 0;

      &.female {
        color: $pink;
        border-color: $pink;
      }

      &.male {
        color: $blue;
        border-color: $blue;
      }

      &.allgender {
        color: $purple;
        border-color: $purple;
      }
    }
  }
}
