.reviews-list {
  border: 1px solid $blue;
  border-radius: 20px;

  .review {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid lightgray;

    @include tablet {
      flex-direction: row;
    }

    &:last-child {
      border-bottom: none;
    }

    .review-rating {
      font-size: 54px;
      font-weight: 700;
      align-self: center;
      justify-self: center;
      color: $purple;

      @include tablet {
        font-size: 108px;
        padding: 0 40px 0 20px;
      }
    }

    .review-content {
      flex-grow: 1;

      h3,
      h4 {
        margin: 5px 0;
      }

      .review-title {
        display: flex;

        h3 {
          justify-self: flex-start;
          flex-grow: 1;
        }

        button {
          justify-self: flex-end;
        }
      }
    }
  }
}

.add-review-link {
  text-decoration: underline;
  font-weight: 300;
  cursor: pointer;

  &:hover {
    color: $purple;
  }
}

.rating-component {
  .rating-option {
    font-size: 2.5em;
    padding: 0 0.25em;
    margin-left: 0.25em;
    color: darkgray;

    &.active {
      color: black;
      border-bottom: 3px solid black;
      font-weight: bold;
    }

    &:hover {
      border-bottom: 3px solid black;
      cursor: pointer;
    }
  }
}
